<h2>Users</h2>
<ul>
<% _.each(users, function(user){ %>
	<li><%= user.name %></li>
<% }); %>
</ul>
<button type="button" id="loading-example-btn" data-toggle="button" data-loading-text="Loading..." class="btn btn-primary">
  Loading state
</button>